/*Стили для формы заполнения запроса*/

.points-block-appeal{
    display: flex;
    text-align: center;
    margin-bottom: 50px;

}

.appeal-button{
    margin-left: 40px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.points.appeal{
    margin-top: 0;
    padding-left: 130px;
}

