/*Стили для формы заполнения запроса*/

:root {
    --light-green-logo: rgba(0, 236, 39, 0.137);
}

.points-block-appeal {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
}

.appeal-button {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.textarea-apppeal-block {
    width: 100%;
}

.textarea-apppeal-block textarea {
    width: 100%;
    background-color: var(--light-green-logo);
    border: 0px solid black;
    border-radius: 3px;
    resize: none;
    padding: 20px;
    padding-top: 10px;
    font-size: 24px;
}

.textarea-apppeal-block textarea::-webkit-input-placeholder {
    color: black;
}

.textarea-apppeal-block textarea::-moz-placeholder {
    color: black;
}

.points.appeal {
    margin-top: 0;
    padding-left: 130px;
}

.appeal-margin-left {
    margin-left: 40px;
}

.img-button-block {
    margin-bottom: 0;
}

.img-icons-block {
    display: flex;
}

.image-block {
    width: 100px;
    border-radius: 0;
    margin-right: 15px;
}

.img-icons-block img {
    height: 100px;
}

.image-block .icon-img-photo {
    width: 60px;
    height: 60px;
}

.all-inputs {
    width: 100%;
    text-align: left;
}

.all-inputs input {
    background-color: var(--light-green-logo);
    border: 0px solid green;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    max-width: 500px;
}

.icon_button {
    display: flex;
}


/*цвет текста placeholder*/

input::-webkit-input-placeholder {
    color: black;
}

input::-moz-placeholder {
    color: black;
}


/* Кнопка отправки */

.button-block {
    margin-top: 60px;
}

.appeal-choice-text {
    /* выбор, который справа от кнопки */
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
}

.image-show {
    margin-right: 20px;
}

@media (max-width: 639px) {
    .points.appeal {
        padding-left: 0;
    }
    .points-block-appeal {
        margin-bottom: 26px;
    }
    .appeal-margin-left {
        margin-left: 20px;
    }
    .textarea-apppeal-block textarea {
        padding: 10px;
        padding-top: 5px;
        font-size: 13px;
        height: 100px;
    }
    .all-inputs input {
        height: 40px;
        font-size: 15px;
        max-width: 500px;
    }
    .icon-empty {
        display: none;
    }
    .img-icons-block {
        overflow-x: scroll;
    }
    .points-block-appeal.block-with-show {
        display: block;
    }
    #choice-area-show,
    #choice-topic-show {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 18px;
        margin-top: 10px;
    }
}