/* Стили header и footer, общий стиль всех страниц */

:root{
    --grey: rgb(216, 216, 216);
    --dark-purple: rgb(31, 0, 80);
    --light-green: rgb(0, 192, 42);
}
@font-face {
    font-family: IBMPlexMono; 
    src: url(../fonts/IBMPlexMono-Regular.ttf); 
}
@font-face {
    font-family: IBMPlexMonoBold;
    src: url(../fonts/IBMPlexMono-Bold.ttf);
}
body{
    font-family: IBMPlexMono, Arial, Helvetica, sans-serif;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* Стили header */

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logo {
    background-color: var(--grey);
    color: white;
    padding: 8px 20px;
    font-size: 19px;
    border-radius: 10px;
    margin: 10px 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    cursor: pointer;
}


/* Стили footer */
 
.footer{
    background-color: var(--grey);
    text-align: right;
    padding: 12px 5px;
    font-size: 18px;
    margin-top: 60px;

}


/* общие стили для страниц*/

.header-text{
    font-size: 40px;
    font-family: IBMPlexMonoBold;
    margin-bottom: 40px;
    padding-left: 5px;
}
.header-text .purple{
    color: var(--dark-purple);
}
.header-text .green{
    color: var(--light-green);
}

.head-block-content{
    padding-left: 65px;
    display: flex;
}
.text-block{
    padding: 10px;
}

.points{
    margin-top: 60px; 
    padding-left: 180px;
    padding-right: 55px;
}
/* иконки в кружочках */

.icon img{
    width: 65px;
    height: 65px;
}

.image.little {
    padding: 22px;
}

.image.little img{
    width: 56px;
    height: 56px;
}
.image{
    padding: 17px;
    border-radius: 50%;
}

.image.green{
    background-color: rgba(0, 236, 39, 0.137);
}

.image.purple{
    background-color: rgba(90, 0, 236, 0.137);
}


/* Стили кнопок*/

.button{
    display: inline-block;
    padding: 10px 20px;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button.purple{
    background-color: var(--dark-purple);
}

.button.green{
    background-color: var(--light-green);
}


.button.list::before{
    content: "";
    height: 30px;
    width: 30px;
    background-image: url("../icons/list-w.png");
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
}

.button.letter::before{
    content: "";
    height: 30px;
    width: 30px;
    background-image: url("../icons/letter-w.png");
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
}

.button.photo::before{
    content: "";
    height: 30px;
    width: 30px;
    background-image: url("../icons/photo-w.png");
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
}

.button.big::before{
    height: 55px;
    width: 55px;

}